#content{
	background-color: #fff3e6;
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	height: auto;
	padding-bottom: 30px;
}
		
		
		#content div#featured{
	background:url(../images/interface.gif) no-repeat;
	height: 191px;
	padding: 0;
	float: none;
	margin-top: 7px;
	clear: both;
}
#content #featured h2{
	color: #8E0519;
    font-family: arial;
    margin: 0;
    padding: 20px 0 0 30px;
    text-shadow: 0 1px 1px #FFFFFF;
	font-size: 29px;
}
#content #featured ul{
	margin: 0;
	padding: 5px 0 0 30px;
	list-style: none;
	height: auto;
	overflow: hidden;
	float: left;
	width: auto;
}
#content #featured ul li.first{
	margin-left: 0;
}
#content #featured ul li{
	float:left;
	text-align: center;
	margin-left: 15px;
	border: 0;
}
#content #featured ul li.last a img{
	border: 0!important;
}
#content #featured ul li a{
	border: 0 none;
    color: #271500;
    display: block;
    float: none;
    font-family: arial;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
	text-indent: 0;
	background: none;
	width: auto;
	height: auto;
}
#content #featured ul li a:hover{
	background: none;
}
#content #featured ul li a img{
	border: 1px solid #f4e5cd !important;
	float: none;
}
#content #featured ul li a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
#content #featured  a img{
	border: 0!important;
	margin-right: 0;
	float: none;
}
#content div.featured{
	background:url(../images/interface.gif) no-repeat -3px 0;
	height: 191px;
	padding: 0;
	float: none;
	margin-top: 7px;
	clear: both;
}
#content .featured h2{
	color: #8E0519;
    font-family: arial;
    margin: 0;
    padding: 20px 0 0 30px;
    text-shadow: 0 1px 1px #FFFFFF;
	font-size: 29px;
}
#content .featured ul{
	margin: 0;
	padding: 5px 0 0 30px;
	list-style: none;
	height: auto;
	overflow: hidden;
	float: left;
	width: auto;
}
#content .featured ul li.first{
	margin-left: 0;
}
#content .featured ul li{
	float:left;
	text-align: center;
	margin-left: 19px;
	border: 0;
}
#content .featured ul li a{
	border: 0 none;
    color: #271500;
    display: block;
    float: none;
    font-family: arial;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
	text-indent: 0;
	background: none;
	width: auto;
	height: auto;
}
#content .featured ul li a:hover{
	background: none;
}
#content .featured ul li a img{
	border: 1px solid #f4e5cd !important;
	float: none;
}
#content .featured ul li.last a{
    color: #ab9675;
	font-weight:bold;
	text-shadow: 0 1px 0 #f4e5cd;
}
#content .featured ul li.last a img{
	border: 0!important;
	padding:0 0 11px 0;
}
#content .featured ul li a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
#content .featured  a{
	float: left;
	margin: 18px 0 0 13px;
	text-decoration: none;
	padding: 0;
	border: 0;
	background: url(../images/button.gif) no-repeat;
	width: 78px;
	height: 78px;
	text-indent: -99999px;
}


#calendar h2{
	color: #8E0519;
    font-family: arial;
    margin: 0;
    padding: 20px 0 0 30px;
    text-shadow: 0 1px 1px #FFFFFF;
	font-size: 29px;
}